<div class="message-main-container <%= current %>">

    <div class="message-content-user">
        <div class="user-image">
            <div class="image">
                <%= image_tag("https://pbs.twimg.com/profile_images/1387328259424194560/M2y5iSup_normal.jpg") %>
            </div>
        </div>
        <div class="message-text">
            <div class="text">
                Hello Barack , we are in final phases, did you fill the form at our page?
            </div>
        </div>
    </div>
    <div class="message-history">
        <span>Mar 28, 2021, 8:56 AM</span>
    </div>

</div>