<a class="chat-contact-item-container">
    <div class="contact-image">
        <div class="image">
            <%= image_tag("https://pbs.twimg.com/profile_images/1387328259424194560/M2y5iSup_normal.jpg")%>
        </div>
    </div>
    <div class="contact-details">
        <div class="name-date">
            <div class="names">
                <h2>
                    Canalbox Rwanda
                </h2>
                <h4>
                    @CanalBoxR
                </h4>
            </div>

        </div>
        <div class="last-message">
            I think it doesn't pass because it is...
        </div>
    </div>
    <div class="last-message-history">
        <span> May 19</span>
    </div>
</a>