@import "colors";

.login-main-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100%;
  .login-left-area {
    flex: 1;
    height: 100%;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    ul {
      li {
        list-style: none;
        color: $white;
        margin: 20px 0;
        i {
          font-size: 25px;
          display: inline-block;
          margin-right: 20px;
        }

        span {
          font-size: 14px;
          font-weight: 100;
        }
      }
    }
  }
  .login-right-area {
    flex: 1;
    height: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;

    .content {
      width: 55%;
      display: none;
      &.active {
        display: block;
      }
      .logo-container {
        i {
          color: $primary;
          font-size: 35px;
        }
      }
      h3 {
        font-weight: bold;
      }
      h4 {
        font-weight: bold;
      }

      .login-form-container {
        width: 100%;
        .form-control {
          display: flex;
          flex-direction: column;
          width: 100%;
          .login-field {
            display: flex;
            background-color: transport;
            border: 1px solid #03446d4f;
            padding: 10px 10px;
            border-radius: 5px;
            outline: none;
            margin: 5px 0;
            font-size: 14px;
            //   flex: 1;
          }

          &.submit {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .login-submit-btn {
              background-color: $primary;
              border: none;
              border-radius: 30px;
              margin: 5px 0;
              margin-top: 20px;
              padding: 10px 30px;
              color: $white;
              font-weight: 100;
              letter-spacing: 1px;
              margin-right: 20px;
            }

            .signup-link-details {
              padding-top: 10px;
              span {
                font-size: 12px;
              }
              a {
                font-size: 13px;
                text-decoration: none;
                color: $primary;
              }
              .signup-link {
              }
            }
          }
        }
      }
    }
  }
}
