$primary: #1da1f2;
$white: #fff;
$light: rgb(196, 207, 214);
$dark: #000;
$hover-white: rgb(236, 230, 230);
$white-light: rgb(246, 245, 245);
$error: #ed4337;
$alert: #ed4337d5;
$notice: #d8f3e5;
$red: rgb(224, 36, 94);
$text-size: 0.938rem;
$lighter: rgb(235, 238, 240);
